#tabel-siswa{
    border-collapse: collapse;
    background: url(8274768.jpg);
    background-size: 100%;
    background-repeat: 2;

    border-width: 1px;
    border-style: solid;
    border-color: white;

    margin: auto;
}
.link {
  color: red;
  text-decoration: none;  
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: green;
}
#tabel-siswa h3 {
    font-size: 32px;
}

#tabel-siswa td {
    padding: 20px;
}